page {
  background: rgb(242, 242, 242);
}
.cart {
  padding-bottom: 1px;

  &-edit {
    padding: 0px 10px 20px;
    text-align: right;
    color: #f6c863;
    font-size: 24px;
  }
}
.cart-list {
  background: rgb(242, 242, 242);

  .empty-cart {
    color: #ffc23c;
    text-align: center;
    margin-top: 10%;
    font-size: 28px;
  }
}
.cart-item {
  margin: 20px;
  .head {
    display: flex;
    align-items: flex-start;
    background: rgb(250, 250, 250);
    // height: 116px;
    padding: 24px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &-check {
      box-sizing: border-box;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid rgb(247, 204, 85);
      margin: 0 18px 0 0;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        font-size: 20px;
        background: rgb(247, 204, 85);
      }
    }
    &-tp {
      flex: 1;
    }
    &-name {
      position: relative;
      font-size: 28px;
      font-weight: bold;
      color: #333;
      &-edit {
        position: absolute;
        right: 0;
        top: 0;
        color: #f6c863;
        font-size: 24px;
      }
      Text {
        position: relative;
      }
    }
    &-coupon {
      Text {
        margin: 0 8px 8px 0;
        font-size: 18px;
        border-radius: 6px;
        color: rgb(235, 88, 56);
        border: 1px solid rgb(235, 88, 56);
        line-height: 1;
        padding: 4px 8px;
        Text {
          padding: 0 4px;
          border: none;
          margin: 0;
        }
      }
    }
  }
  .item {
    padding: 20px 20px 0;
    background: white;
    display: flex;
    &:last-child {
      margin: 0;
    }
    .item-check {
      margin: 74px 18px 0 0;
      &.disabled {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgb(228, 228, 228);
      }
    }
    .message {
      padding: 10px 0 0;
      font-size: 20px;
      color: #da3131;
    }
    image {
      width: 150px;
      height: 150px;
      border: 1px solid #f7f7f7;
      margin: 0 18px 0 0;
      border-radius: 10px;
    }
    .info {
      flex: 1;
      &-tit {
        line-height: 1;
        padding-bottom: 5px;
        font-size: 26px;
        display: flex;
        justify-content: space-between;
      }
      &-price {
        font-size: 24px;
        color: #333;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 4px;
        Text {
          font-size: 22px;
          text-decoration: line-through;
          color: #999;
          margin-right: 10px;
        }
      }
      &-num {
        font-size: 22px;
        line-height: 1;
        font-weight: bold;
      }
      &-sku {
        font-size: 22px;
        color: #999;
        margin-bottom: 6px;
        &-price {
          font-size: 20px;
          padding: 0 16px 0 10px;
        }
        &-oprice {
          font-size: 20px;
          text-decoration: line-through;
        }
      }
      &-options {
        font-size: 0;
        &-item {
          display: inline-block;
          background: #eee;
          border-radius: 6px;
          overflow: hidden;
          margin: 0 10px 10px 0;
          font-size: 0;
          .name {
            padding: 0 6px;
            font-size: 20px;
            line-height: 32px;
          }
          .price {
            padding: 0 6px 0 4px;
            font-size: 20px;
            line-height: 32px;
          }
          .qty {
            display: inline-block;
            height: 100%;
            font-size: 20px;
            background: #ffc23c;
            color: white;
            padding: 0 6px;
            line-height: 32px;
          }
        }
      }
    }
  }
  .art {
    background: white;
    display: flex;
    align-items: flex-start;
    padding: 30px 20px 0 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // &-check{
    //   flex: 0 0 72px;
    //   height: 108px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   Image{
    //     width: 32px;
    //     height: 32px;
    //     border-radius: 50%;
    //     background: rgb(247, 204, 85);

    //   }
    // }
    &-msg {
      flex: 1;
      &-com {
        height: 108px;
        display: flex;
        align-items: center;
        margin: 0 0 30px;
        &-check {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 0;
          border: 1px solid rgb(247, 204, 85);
          margin: 0 18px 0 20px;
          &.active {
            font-size: 20px;
            background: rgb(247, 204, 85);
          }
        }
        &-photo {
          width: 108px;
          height: 108px;
          margin: 0 20px 0 0;
          // background: rgb(247, 204, 85);
          border-radius: 10px;
          background: white;
          overflow: hidden;
        }
        &-box {
          flex: 1;
          position: relative;
          height: 108px;
        }
        &-name {
          font-size: 24px;
          font-weight: bold;
          color: #333;
          line-height: 28px;
          margin: 0 0 8px;
        }
        &-mode {
          font-size: 18px;
          color: rgb(153, 153, 153);
        }
        &-num {
          position: absolute;
          bottom: 2px;
          left: 0;
          font-size: 22px;
          color: rgb(153, 153, 153);
          line-height: 1;
        }
        &-price {
          position: absolute;
          bottom: 4px;
          right: 0;
          color: #333;
          font-weight: bold;
          font-size: 24px;
          line-height: 1;
        }
      }
      &-dis {
        padding: 0 0 0 70px;
        &-item {
          line-height: 1;
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          font-weight: bold;
          margin: 0 0 28px;
          color: #333;
          .dis-item-name {
            font-size: 24px;
            font-weight: normal;
          }
          .minus {
            color: rgb(232, 91, 77);
          }
          .at-icon-help {
            line-height: 28px;
            font-size: 26px;
            margin-left: 6px;
          }
        }
        .minus-pad {
          padding: 0 0 16px;
          .reach {
            color: red;
          }
        }
        .art-settle {
          border-top: 1px solid rgb(238, 238, 238);
          padding: 20px 0 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .art-settle-res {
            font-size: 24px;
            Text {
              color: rgb(232, 91, 77);
              font-weight: bold;
            }
          }
          .settle-operate {
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            height: 64px;
            line-height: 64px;
          }
          .price {
            background: rgb(253, 246, 225);
            font-size: 28px;
            color: rgb(232, 91, 77);
            padding: 0 20px;
          }
          .cant {
            font-size: 24px;
            font-weight: bold;
            color: white;
            padding: 0 20px;
            background: rgb(188, 188, 188);
          }
          .pay {
            font-size: 24px;
            font-weight: bold;
            color: black;
            padding: 0 20px;
            background: linear-gradient(left, rgb(249, 221, 104), rgb(246, 200, 99));
          }
        }
      }
    }
  }
}
